/***************TAG SELECTORS***********/

body {
  background-color: grey;
  color: blue;
}

h1 {
  color: Red;
}
/*
img {
  padding: 1px;
  border:1px solid red;
  background-color: blue;
}
*/
/*************************CLASS SELECTORS********************/
.flag {
  width: 500;
  height: 400;
}
.truck {
    padding: 1px;
    border:1px solid red;
    background-color: blue;
}
/*************************ID SELECTORS********************/
#heading {
  color: red;
}
